@import '../base/mapas';


.zona-navegable{
    width: 50%;
    display: inline;
    position: sticky;
    top: 0px;
    z-index: 2;

    .lista-navegable{
        list-style: none;
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        margin: 1vh 0;
        background-color: crimson;
        margin-top: 0px;

        .item-lista-nav{
            background-color: map-get($boton, bg-boton);
            border-radius: map-get($boton, radio-borde);
            padding: map-get($boton, padding);
        
            .boton{
                text-decoration: none;
                color: white;
                font-weight: bold;
                font-family: sans-serif;
            }           
        }
  
        @media screen and (max-width:767px){
            display: none;
        }
    }
}

.open-slide{
    padding: 20px;
    margin-left: 2vh;
    margin-top: 2vh;
    position: fixed;
    left: 5px;
    top: 6px;
    z-index: 1;

    @media screen and (min-width: 768px){
        display:none;
    }
}

.open-slide:active{
    background: white;
    transition: all 0.5s;
    border-radius: 100%;
}
.side-nav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #dc143c;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 1.5s;

    a{
        padding: 10px 10px 10px 30px;
        text-decoration: none;
        color: white;
        display: block;
        transition: 0.3s;
        font-size: 22px;
        font-weight: bold;
    }

    a:active{
        background: white;
        color: crimson;
        transition: all 1.5s;
    }

    .boton-cerrar{
        position: absolute;
        top: 0;
        right: 22px;
        font-size: 4vh;
    }
    @media screen and (min-width: 768px){
        display:none;
    }
}



.whatsapp{
    position: fixed;
    right: 5px;
    bottom: 50px;
    z-index: 3;

    @media screen and (max-width:425px){
        display: none;
    }
}



